In [1]:
import time
import warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

In [2]:
from pandas.core.common import SettingWithCopyWarning
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
label_encoder = preprocessing.LabelEncoder()
oh_encoder = preprocessing.OneHotEncoder()
oh_columns = set()

In [3]:
pd.options.display.float_format = '{:,.2f}'.format

In [4]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [5]:
df_train = pd.read_csv('data/application_train.csv')

In [6]:
df_test = pd.read_csv('data/application_test.csv')

In [7]:
df_train.shape

(307511, 122)

In [8]:
df_test.shape

(48744, 121)

In [9]:
df_train.sample(7)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
217336,351815,0,Cash loans,M,Y,Y,0,"270,000.00","545,040.00","26,640.00","450,000.00",Unaccompanied,Working,Higher education,Single / not married,House / apartment,0.02,-12673,-5149,"-2,223.00",-4079,5.00,1,1,0,1,0,0,NaN,1.00,3,3,TUESDAY,11,0,0,0,0,1,1,Industry: type 10,0.47,0.51,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,1.00,0.00,1.00,0.00,-863.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan,nan,nan,nan,nan
87497,201558,0,Cash loans,F,N,Y,0,"90,000.00","523,237.50","18,922.50","432,000.00",Family,Pensioner,Secondary / secondary special,Widow,House / apartment,0.01,-21556,365243,"-10,737.00",-4310,nan,1,0,0,1,0,0,NaN,1.00,2,2,SUNDAY,11,0,0,0,0,0,0,XNA,nan,0.72,0.74,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,3.00,0.00,3.00,0.00,0.00,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,2.00
135328,256959,0,Revolving loans,F,Y,Y,1,"225,000.00","135,000.00","6,750.00","135,000.00",Unaccompanied,Commercial associate,Higher education,Civil marriage,House / apartment,0.03,-10324,-557,-144.00,-2994,7.00,1,1,0,1,0,0,NaN,3.00,2,2,SATURDAY,12,0,0,0,0,0,0,Business Entity Type 3,0.24,0.61,nan,0.08,0.06,0.97,0.63,0.12,0.00,0.14,0.17,0.21,0.05,0.07,0.06,0.00,0.00,0.08,0.07,0.97,0.65,0.12,0.00,0.14,0.17,0.21,0.05,0.07,0.06,0.00,0.00,0.08,0.06,0.97,0.64,0.12,0.00,0.14,0.17,0.21,0.05,0.07,0.06,0.00,0.00,reg oper account,block of flats,0.06,"Stone, brick",No,0.00,0.00,0.00,0.00,"-1,874.00",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,1.00,3.00
298787,446143,0,Cash loans,F,Y,N,0,"67,500.00","312,768.00","16,506.00","270,000.00",Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.01,-14156,-2144,-324.00,-4714,0.00,1,1,0,1,0,0,NaN,2.00,2,2,FRIDAY,15,0,0,0,0,1,1,Other,nan,0.47,0.27,nan,nan,nan,nan,nan,0.32,0.28,0.33,0.38,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.32,0.28,0.33,0.38,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,0.32,0.28,0.33,0.38,nan,nan,nan,nan,nan,reg oper spec account,block of flats,nan,NaN,No,4.00,0.00,4.00,0.00,"-1,841.00",0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00
134136,255566,0,Cash loans,F,Y,N,0,"225,000.00","942,300.00","30,528.00","675,000.00",Unaccompanied,Commercial associate,Secondary / secondary special,Married,Municipal apartment,0.01,-16353,-1880,"-6,686.00",-3850,1.00,1,1,0,1,0,0,Laborers,2.00,1,1,WEDNESDAY,18,0,1,1,0,0,0,Construction,nan,0.66,0.36,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.00,0.00,0.00,0.00,"-2,496.00",0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00
131046,251995,1,Cash loans,M,Y,Y,0,"180,000.00","561,384.00","57,654.00","540,000.00",Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.02,-18289,-1918,"-5,079.00",-1411,19.00,1,1,0,1,0,0,Drivers,2.00,3,3,SATURDAY,11,0,0,0,0,0,0,Self-employed,nan,0.30,nan,0.19,nan,0.99,nan,nan,nan,0.10,0.17,nan,nan,nan,nan,nan,nan,0.20,nan,0.99,nan,nan,nan,0.10,0.17,nan,nan,nan,nan,nan,nan,0.19,nan,0.99,nan,nan,nan,0.10,0.17,nan,nan,nan,nan,nan,nan,NaN,block of flats,0.07,Panel,No,0.00,0.00,0.00,0.00,-446.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,3.00
148917,272654,0,Cash loans,F,Y,N,1,"135,000.00","1,223,010.00","48,501.00","1,125,000.00",Unaccompanied,State servant,Higher education,Married,House / apartment,0.02,-14886,-3692,"-4,416.00",-4623,4.00,1,1,1,1,1,0,Managers,3.00,2,2,SATURDAY,14,0,0,0,0,0,0,Kindergarten,0.79,0.77,0.66,0.07,0.00,0.97,0.65,0.01,0.00,0.14,0.17,0.21,0.09,0.05,0.06,0.02,0.04,0.07,0.00,0.97,0.66,0.01,0.00,0.14,0.17,0.21,0.10,0.06,0.06,0.02,0.04,0.07,0.00,0.97,0.65,0.01,0.00,0.14,0.17,0.21,0.09,0.05,0.06,0.02,0.04,reg oper account,block of flats,0.06,"Stone, brick",No,0.00,0.00,0.00,0.00,"-1,082.00",0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,1.00,0.00,0.00

In [10]:
df_train.describe().T

,count,mean,std,min,25%,50%,75%,max
SK_ID_CURR,"307,511.00","278,180.52","102,790.18","100,002.00","189,145.50","278,202.00","367,142.50","456,255.00"
TARGET,"307,511.00",0.08,0.27,0.00,0.00,0.00,0.00,1.00
CNT_CHILDREN,"307,511.00",0.42,0.72,0.00,0.00,0.00,1.00,19.00
AMT_INCOME_TOTAL,"307,511.00","168,797.92","237,123.15","25,650.00","112,500.00","147,150.00","202,500.00","117,000,000.00"
AMT_CREDIT,"307,511.00","599,026.00","402,490.78","45,000.00","270,000.00","513,531.00","808,650.00","4,050,000.00"
AMT_ANNUITY,"307,499.00","27,108.57","14,493.74","1,615.50","16,524.00","24,903.00","34,596.00","258,025.50"
AMT_GOODS_PRICE,"307,233.00","538,396.21","369,446.46","40,500.00","238,500.00","450,000.00","679,500.00","4,050,000.00"
REGION_POPULATION_RELATIVE,"307,511.00",0.02,0.01,0.00,0.01,0.02,0.03,0.07
DAYS_BIRTH,"307,511.00","-16,037.00","4,363.99","-25,229.00","-19,682.00","-15,750.00","-12,413.00","-7,489.00"
DAYS_EMPLOYED,"307,511.00","63,815.05","141,275.77","-17,912.00","-2,760.00","-1,213.00",-289.00,"365,243.00"
DAYS_REGISTRATION,"307,511.00","-4,986.12","3,522.89","-24,672.00","-7,479.50","-4,504.00","-2,010.00",0.00
DAYS_ID_PUBLISH,"307,511.00","-2,994.20","1,509.45","-7,197.00","-4,299.00","-3,254.00","-1,720.00",0.00
OWN_CAR_AGE,"104,582.00",12.06,11.94,0.00,5.00,9.00,15.00,91.00
FLAG_MOBIL,"307,511.00",1.00,0.00,0.00,1.00,1.00,1.00,1.00
FLAG_EMP_PHONE,"307,511.00",0.82,0.38,0.00,1.00,1.00,1.00,1.00
FLAG_WORK_PHONE,"307,511.00",0.20,0.40,0.00,0.00,0.00,0.00,1.00
FLAG_CONT_MOBILE,"307,511.00",1.00,0.04,0.00,1.00,1.00,1.00,1.00
FLAG_PHONE,"307,511.00",0.28,0.45,0.00,0.00,0.00,1.00,1.00
FLAG_EMAIL,"307,511.00",0.06,0.23,0.00,0.00,0.00,0.00,1.00
CNT_FAM_MEMBERS,"307,509.00",2.15,0.91,1.00,2.00,2.00,3.00,20.00
REGION_RATING_CLIENT,"307,511.00",2.05,0.51,1.00,2.00,2.00,2.00,3.00
REGION_RATING_CLIENT_W_CITY,"307,511.00",2.03,0.50,1.00,2.00,2.00,2.00,3.00
HOUR_APPR_PROCESS_START,"307,511.00",12.06,3.27,0.00,10.00,12.00,14.00,23.00
REG_REGION_NOT_LIVE_REGION,"307,511.00",0.02,0.12,0.00,0.00,0.00,0.00,1.00
REG_REGION_NOT_WORK_REGION,"307,511.00",0.05,0.22,0.00,0.00,0.00,0.00,1.00
LIVE_REGION_NOT_WORK_REGION,"307,511.00",0.04,0.20,0.00,0.00,0.00,0.00,1.00
REG_CITY_NOT_LIVE_CITY,"307,511.00",0.08,0.27,0.00,0.00,0.00,0.00,1.00
REG_CITY_NOT_WORK_CITY,"307,511.00",0.23,0.42,0.00,0.00,0.00,0.00,1.00
LIVE_CITY_NOT_WORK_CITY,"307,511.00",0.18,0.38,0.00,0.00,0.00,0.00,1.00
EXT_SOURCE_1,"134,133.00",0.50,0.21,0.01,0.33,0.51,0.68,0.96
EXT_SOURCE_2,"306,851.00",0.51,0.19,0.00,0.39,0.57,0.66,0.85
EXT_SOURCE_3,"246,546.00",0.51,0.19,0.00,0.37,0.54,0.67,0.90
APARTMENTS_AVG,"151,450.00",0.12,0.11,0.00,0.06,0.09,0.15,1.00
BASEMENTAREA_AVG,"127,568.00",0.09,0.08,0.00,0.04,0.08,0.11,1.00
YEARS_BEGINEXPLUATATION_AVG,"157,504.00",0.98,0.06,0.00,0.98,0.98,0.99,1.00
YEARS_BUILD_AVG,"103,023.00",0.75,0.11,0.00,0.69,0.76,0.82,1.00
COMMONAREA_AVG,"92,646.00",0.04,0.08,0.00,0.01,0.02,0.05,1.00
ELEVATORS_AVG,"143,620.00",0.08,0.13,0.00,0.00,0.00,0.12,1.00
ENTRANCES_AVG,"152,683.00",0.15,0.10,0.00,0.07,0.14,0.21,1.00
FLOORSMAX_AVG,"154,491.00",0.23,0.14,0.00,0.17,0.17,0.33,1.00
FLOORSMIN_AVG,"98,869.00",0.23,0.16,0.00,0.08,0.21,0.38,1.00
LANDAREA_AVG,"124,921.00",0.07,0.08,0.00,0.02,0.05,0.09,1.00
LIVINGAPARTMENTS_AVG,"97,312.00",0.10,0.09,0.00,0.05,0.08,0.12,1.00
LIVINGAREA_AVG,"153,161.00",0.11,0.11,0.00,0.05,0.07,0.13,1.00
NONLIVINGAPARTMENTS_AVG,"93,997.00",0.01,0.05,0.00,0.00,0.00,0.00,1.00
NONLIVINGAREA_AVG,"137,829.00",0.03,0.07,0.00,0.00,0.00,0.03,1.00
APARTMENTS_MODE,"151,450.00",0.11,0.11,0.00,0.05,0.08,0.14,1.00
BASEMENTAREA_MODE,"127,568.00",0.09,0.08,0.00,0.04,0.07,0.11,1.00
YEARS_BEGINEXPLUATATION_MODE,"157,504.00",0.98,0.06,0.00,0.98,0.98,0.99,1.00
YEARS_BUILD_MODE,"103,023.00",0.76,0.11,0.00,0.70,0.76,0.82,1.00
COMMONAREA_MODE,"92,646.00",0.04,0.07,0.00,0.01,0.02,0.05,1.00
ELEVATORS_MODE,"143,620.00",0.07,0.13,0.00,0.00,0.00,0.12,1.00
ENTRANCES_MODE,"152,683.00",0.15,0.10,0.00,0.07,0.14,0.21,1.00
FLOORSMAX_MODE,"154,491.00",0.22,0.14,0.00,0.17,0.17,0.33,1.00
FLOORSMIN_MODE,"98,869.00",0.23,0.16,0.00,0.08,0.21,0.38,1.00
LANDAREA_MODE,"124,921.00",0.06,0.08,0.00,0.02,0.05,0.08,1.00
LIVINGAPARTMENTS_MODE,"97,312.00",0.11,0.10,0.00,0.05,0.08,0.13,1.00
LIVINGAREA_MODE,"153,161.00",0.11,0.11,0.00,0.04,0.07,0.13,1.00
NONLIVINGAPARTMENTS_MODE,"93,997.00",0.01,0.05,0.00,0.00,0.00,0.00,1.00
NONLIVINGAREA_MODE,"137,829.00",0.03,0.07,0.00,0.00,0.00,0.02,1.00
APARTMENTS_MEDI,"151,450.00",0.12,0.11,0.00,0.06,0.09,0.15,1.00
BASEMENTAREA_MEDI,"127,568.00",0.09,0.08,0.00,0.04,0.08,0.11,1.00
YEARS_BEGINEXPLUATATION_MEDI,"157,504.00",0.98,0.06,0.00,0.98,0.98,0.99,1.00
YEARS_BUILD_MEDI,"103,023.00",0.76,0.11,0.00,0.69,0.76,0.83,1.00
COMMONAREA_MEDI,"92,646.00",0.04,0.08,0.00,0.01,0.02,0.05,1.00
ELEVATORS_MEDI,"143,620.00",0.08,0.13,0.00,0.00,0.00,0.12,1.00
ENTRANCES_MEDI,"152,683.00",0.15,0.10,0.00,0.07,0.14,0.21,1.00
FLOORSMAX_MEDI,"154,491.00",0.23,0.15,0.00,0.17,0.17,0.33,1.00
FLOORSMIN_MEDI,"98,869.00",0.23,0.16,0.00,0.08,0.21,0.38,1.00
LANDAREA_MEDI,"124,921.00",0.07,0.08,0.00,0.02,0.05,0.09,1.00
LIVINGAPARTMENTS_MEDI,"97,312.00",0.10,0.09,0.00,0.05,0.08,0.12,1.00
LIVINGAREA_MEDI,"153,161.00",0.11,0.11,0.00,0.05,0.07,0.13,1.00
NONLIVINGAPARTMENTS_MEDI,"93,997.00",0.01,0.05,0.00,0.00,0.00,0.00,1.00
NONLIVINGAREA_MEDI,"137,829.00",0.03,0.07,0.00,0.00,0.00,0.03,1.00
TOTALAREA_MODE,"159,080.00",0.10,0.11,0.00,0.04,0.07,0.13,1.00
OBS_30_CNT_SOCIAL_CIRCLE,"306,490.00",1.42,2.40,0.00,0.00,0.00,2.00,348.00
DEF_30_CNT_SOCIAL_CIRCLE,"306,490.00",0.14,0.45,0.00,0.00,0.00,0.00,34.00
OBS_60_CNT_SOCIAL_CIRCLE,"306,490.00",1.41,2.38,0.00,0.00,0.00,2.00,344.00
DEF_60_CNT_SOCIAL_CIRCLE,"306,490.00",0.10,0.36,0.00,0.00,0.00,0.00,24.00
DAYS_LAST_PHONE_CHANGE,"307,510.00",-962.86,826.81,"-4,292.00","-1,570.00",-757.00,-274.00,0.00
FLAG_DOCUMENT_2,"307,511.00",0.00,0.01,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_3,"307,511.00",0.71,0.45,0.00,0.00,1.00,1.00,1.00
FLAG_DOCUMENT_4,"307,511.00",0.00,0.01,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_5,"307,511.00",0.02,0.12,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_6,"307,511.00",0.09,0.28,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_7,"307,511.00",0.00,0.01,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_8,"307,511.00",0.08,0.27,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_9,"307,511.00",0.00,0.06,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_10,"307,511.00",0.00,0.00,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_11,"307,511.00",0.00,0.06,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_12,"307,511.00",0.00,0.00,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_13,"307,511.00",0.00,0.06,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_14,"307,511.00",0.00,0.05,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_15,"307,511.00",0.00,0.03,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_16,"307,511.00",0.01,0.10,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_17,"307,511.00",0.00,0.02,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_18,"307,511.00",0.01,0.09,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_19,"307,511.00",0.00,0.02,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_20,"307,511.00",0.00,0.02,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_21,"307,511.00",0.00,0.02,0.00,0.00,0.00,0.00,1.00
AMT_REQ_CREDIT_BUREAU_HOUR,"265,992.00",0.01,0.08,0.00,0.00,0.00,0.00,4.00
AMT_REQ_CREDIT_BUREAU_DAY,"265,992.00",0.01,0.11,0.00,0.00,0.00,0.00,9.00
AMT_REQ_CREDIT_BUREAU_WEEK,"265,992.00",0.03,0.20,0.00,0.00,0.00,0.00,8.00
AMT_REQ_CREDIT_BUREAU_MON,"265,992.00",0.27,0.92,0.00,0.00,0.00,0.00,27.00
AMT_REQ_CREDIT_BUREAU_QRT,"265,992.00",0.27,0.79,0.00,0.00,0.00,0.00,261.00
AMT_REQ_CREDIT_BUREAU_YEAR,"265,992.00",1.90,1.87,0.00,0.00,1.00,3.00,25.00

In [11]:
def data_transform(df_train):
    oh_columns = set()
    #CAR_STATUS
    df_train['CAR_STATUS'] = pd.qcut(df_train['OWN_CAR_AGE'], 3, labels=['NEW', 'OLD', 'Vintage'])
    df_train['CAR_STATUS']=(df_train['CAR_STATUS'].cat.add_categories('NO').fillna('NO'))
    df_train['CAR_STATUS'] = label_encoder.fit_transform(df_train['CAR_STATUS'])
    df_train.drop(['OWN_CAR_AGE','FLAG_OWN_CAR'], axis = 1, inplace = True)

    # Normalizing Columns for AVG, MODE, MEDI
    norm_columns = list(df_train.loc[:, df_train.columns.str.endswith('_AVG')].columns)
    for column in norm_columns:
        column_AVG = column
        column_MEDI = column.replace("_AVG","_MEDI")
        column_MODE = column.replace("_AVG","_MODE")
        column_NORM = column.replace("_AVG","_NORM")
        df_train[column_NORM] = df_train[[column_AVG,column_MEDI,column_MODE]].mean(axis=1)
        df_train.drop([column_AVG, column_MEDI, column_MODE], axis = 1, inplace = True)

    # NAME_CONTRACT_TYPE
    df_train['NAME_CONTRACT_TYPE'] = label_encoder.fit_transform(df_train['NAME_CONTRACT_TYPE'])


    #CODE_GENDER
    #Remove XNA
    df_train = df_train[df_train['CODE_GENDER'] != 'XNA']
    df_train['CODE_GENDER'].value_counts()
    df_train['CODE_GENDER'] = label_encoder.fit_transform(df_train['CODE_GENDER'])

    #Converting all flag columns
    flag_columns = list(df_train.loc[:, df_train.columns.str.startswith('FLAG_')].columns)
    flag_columns.extend(['REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 
                    'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY'])
    for column in flag_columns:
        df_train[column] = label_encoder.fit_transform(df_train[column])


    #converting all named & categorical columns
    name_columns = df_train.loc[:, df_train.columns.str.startswith('NAME_')].columns
    df_train['NAME_TYPE_SUITE'].replace(['Other_A', 'Other_B'], 'Other', inplace = True)
    #Remove unknown?
    df_train = df_train[df_train['NAME_FAMILY_STATUS'] != 'Unknown']
    #Civil Marriage is Marriage
    df_train['NAME_FAMILY_STATUS'].replace('Civil marriage', 'Married', inplace = True)
    # One Hot encoding?
    oh_columns.add('NAME_TYPE_SUITE')
    oh_columns.add('NAME_INCOME_TYPE')
    oh_columns.add('NAME_EDUCATION_TYPE')
    oh_columns.add('NAME_FAMILY_STATUS')
    oh_columns.add('NAME_HOUSING_TYPE')
    oh_columns.add('REGION_RATING_CLIENT')
    oh_columns.add('REGION_RATING_CLIENT_W_CITY')
    oh_columns.add('FONDKAPREMONT_MODE')
    oh_columns.add('HOUSETYPE_MODE')
    oh_columns.add('WALLSMATERIAL_MODE')  
    df_train = pd.get_dummies(df_train, columns = list(oh_columns))

    #Children count
    df_train['CNT_CHILDREN_NORM'] = min_max_scaler.fit_transform(df_train['CNT_CHILDREN'].values.reshape(-1, 1))
    df_train.drop(['CNT_CHILDREN'], axis = 1, inplace = True)

    #AMOUNT Columns
    #Retain 99%
    df_train = df_train[df_train['AMT_INCOME_TOTAL'] < df_train.AMT_INCOME_TOTAL.quantile(0.99)]
    df_train['AMT_INCOME_TOTAL_NORM'] = min_max_scaler.fit_transform(df_train['AMT_INCOME_TOTAL'].values.reshape(-1, 1))
    df_train.drop(['AMT_INCOME_TOTAL'], axis = 1, inplace = True)

    df_train = df_train[df_train['AMT_CREDIT'] < df_train.AMT_CREDIT.quantile(0.99)]
    df_train['AMT_CREDIT_NORM'] = min_max_scaler.fit_transform(df_train['AMT_CREDIT'].values.reshape(-1, 1))
    df_train.drop(['AMT_CREDIT'], axis = 1, inplace = True)

    df_train['AMT_ANNUITY'] = df_train['AMT_ANNUITY'].fillna(df_train['AMT_ANNUITY'].median())
    df_train = df_train[df_train['AMT_ANNUITY'] < df_train.AMT_ANNUITY.quantile(0.99)]
    df_train['AMT_ANNUITY_NORM'] = min_max_scaler.fit_transform(df_train['AMT_ANNUITY'].values.reshape(-1, 1))
    df_train.drop(['AMT_ANNUITY'], axis = 1, inplace = True)

    df_train['AMT_GOODS_PRICE'] = df_train['AMT_GOODS_PRICE'].fillna(df_train['AMT_GOODS_PRICE'].median())
    df_train = df_train[df_train['AMT_GOODS_PRICE'] < df_train.AMT_GOODS_PRICE.quantile(0.99)]
    df_train['AMT_GOODS_PRICE_NORM'] = min_max_scaler.fit_transform(df_train['AMT_GOODS_PRICE'].values.reshape(-1, 1))
    df_train.drop(['AMT_GOODS_PRICE'], axis = 1, inplace = True)

    #Days_BIRTH
    df_train['YEARS_BIRTH'] = df_train['DAYS_BIRTH'].abs()/365
    df_train.drop(['DAYS_BIRTH'], axis = 1, inplace = True)
    df_train['YEARS_BIRTH_NORM'] = min_max_scaler.fit_transform(df_train['YEARS_BIRTH'].values.reshape(-1, 1))
    df_train.drop(['YEARS_BIRTH'], axis = 1, inplace = True)

    #days_employed
    df_train['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)
    df_train['DAYS_EMPLOYED_NORM'] = min_max_scaler.fit_transform(df_train['DAYS_EMPLOYED'].values.reshape(-1, 1))
    df_train.drop(['DAYS_EMPLOYED'], axis = 1, inplace = True)

    df_train['DAYS_REGISTRATION_NORM'] = min_max_scaler.fit_transform(df_train['DAYS_REGISTRATION'].values.reshape(-1, 1))
    df_train.drop(['DAYS_REGISTRATION'], axis = 1, inplace = True)

    df_train['DAYS_ID_PUBLISH_NORM'] = min_max_scaler.fit_transform(df_train['DAYS_ID_PUBLISH'].values.reshape(-1, 1))
    df_train.drop(['DAYS_ID_PUBLISH'], axis = 1, inplace = True)

    #Normalize some more columns
    Normalize_columns = ['AMT_REQ_CREDIT_BUREAU_HOUR',
    'AMT_REQ_CREDIT_BUREAU_DAY',
    'AMT_REQ_CREDIT_BUREAU_WEEK',
    'AMT_REQ_CREDIT_BUREAU_MON',
    'AMT_REQ_CREDIT_BUREAU_QRT',
    'AMT_REQ_CREDIT_BUREAU_YEAR',
    'OBS_30_CNT_SOCIAL_CIRCLE',
    'DEF_30_CNT_SOCIAL_CIRCLE',
    'OBS_60_CNT_SOCIAL_CIRCLE',
    'DEF_60_CNT_SOCIAL_CIRCLE',
    'DAYS_LAST_PHONE_CHANGE',
    'CNT_FAM_MEMBERS'
    ]

    for column in Normalize_columns:
        df_train['{}_NORM'.format(column)] = min_max_scaler.fit_transform(df_train[column].values.reshape(-1, 1))
        df_train.drop([column], axis = 1, inplace = True)


    #drop occupation type
    df_train.drop(['OCCUPATION_TYPE'], axis = 1, inplace = True)

    #HOUR APPR PRocess start
    #convert to day (6am [6] to 10pm [22]) and night (10pm [22] to 6am [6])
    df_train['HOUR_APPR_PROCESS_DAY'] = (df_train['HOUR_APPR_PROCESS_START'] > 6) & (df_train['HOUR_APPR_PROCESS_START'] < 22)
    df_train.drop(['HOUR_APPR_PROCESS_START'], axis = 1, inplace = True)
    df_train['HOUR_APPR_PROCESS_DAY'] = label_encoder.fit_transform(df_train['HOUR_APPR_PROCESS_DAY'])

    #drop week & organization type
    df_train.drop(['WEEKDAY_APPR_PROCESS_START'], axis = 1, inplace = True)
    df_train.drop(['ORGANIZATION_TYPE'], axis = 1, inplace = True)

    df_train['EMERGENCYSTATE_MODE'] = label_encoder.fit_transform(df_train['EMERGENCYSTATE_MODE'])

    df_train.fillna(0, inplace=True)
    return df_train

In [12]:
df_transformed_train = data_transform(df_train)

In [13]:
df_transformed_test = data_transform(df_test)

### SK_ID_CURR - ID of loan in our sample

In [ ]:
df_corr = df_transformed_train.corr(method = "pearson").abs().unstack().sort_values(ascending=True)

In [ ]:
[(C1, C2, df_corr[C1,C2]) for C1, C2 in df_corr.index if df_corr[C1,C2] > 0.95 and C1 != C2]

In [ ]:
df_corr = df_train.corr(method = "pearson").abs().unstack().sort_values(ascending=True)

In [ ]:
[(C1, C2, df_corr[C1,C2]) for C1, C2 in df_corr.index if df_corr[C1,C2] > 0.95 and C1 != C2]

## <font color='red'>DIMENSIONALITY REDUCTION</font>

### OWNS A CAR - FLAG_OWN_CAR, OWN_CAR_AGE

In [ ]:
df_train[df_train['FLAG_OWN_CAR'] == 'N']['OWN_CAR_AGE']

In [ ]:
#years
df_train['OWN_CAR_AGE'].min(),df_train['OWN_CAR_AGE'].max()

In [ ]:
df_train.boxplot(column=['OWN_CAR_AGE'])

In [ ]:
#Get Quantile values
print(df_train.OWN_CAR_AGE.quantile(0.25),df_train.OWN_CAR_AGE.quantile(0.5),df_train.OWN_CAR_AGE.quantile(0.75))

In [ ]:
# <5 years is new
# 9 to 15 years is old
# > 15 years is vintage
df_train['CAR_STATUS'] = pd.qcut(df_train['OWN_CAR_AGE'], 3, labels=['NEW', 'OLD', 'Vintage'])

In [ ]:
df_train['CAR_STATUS']=(df_train['CAR_STATUS'].cat.add_categories('NO').fillna('NO'))

In [ ]:
df_train['CAR_STATUS'].value_counts().plot(kind='bar')

In [ ]:
df_train['CAR_STATUS'] = label_encoder.fit_transform(df_train['CAR_STATUS'])

In [ ]:
df_train.drop(['OWN_CAR_AGE','FLAG_OWN_CAR'], axis = 1, inplace = True)

### Normalized Columns of AVG, MODE, MEDI

In [ ]:
norm_columns = list(df_train.loc[:, df_train.columns.str.endswith('_AVG')].columns)

In [ ]:
for column in norm_columns:
    column_AVG = column
    column_MEDI = column.replace("_AVG","_MEDI")
    column_MODE = column.replace("_AVG","_MODE")
    column_NORM = column.replace("_AVG","_NORM")
    df_train[column_NORM] = df_train[[column_AVG,column_MEDI,column_MODE]].mean(axis=1)
    df_train.drop([column_AVG, column_MEDI, column_MODE], axis = 1, inplace = True)

In [ ]:
df_train.sample(5)

### TARGET - Target variable (1 - client with payment difficulties: he/she had late payment more than X days on at least one of the first Y installments of the loan in our sample, 0 - all other cases)

### NAME_CONTRACT_TYPE - Identification if loan is cash or revolving

In [ ]:
df_train['NAME_CONTRACT_TYPE'].value_counts()

In [ ]:
df_train['NAME_CONTRACT_TYPE'] = label_encoder.fit_transform(df_train['NAME_CONTRACT_TYPE'])
#encoder = oh_encoder.fit_transform(df_train['NAME_CONTRACT_TYPE'].values.reshape(-1,1))

In [ ]:
df_train['NAME_CONTRACT_TYPE'].value_counts()

### CODE_GENDER - Gender of the client

In [ ]:
df_train['CODE_GENDER'].value_counts()

In [ ]:
#Remove XNA OR FILL?
df_train = df_train[df_train['CODE_GENDER'] != 'XNA']

In [ ]:
df_train['CODE_GENDER'].value_counts()

In [ ]:
df_train['CODE_GENDER'] = label_encoder.fit_transform(df_train['CODE_GENDER'])

In [ ]:
df_train['CODE_GENDER'].value_counts()

### CONVERT ALL FLAG COLUMNS

In [ ]:
flag_columns = list(df_train.loc[:, df_train.columns.str.startswith('FLAG_')].columns)

In [ ]:
flag_columns.extend(['REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 
                'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY'])

In [ ]:
flag_columns

In [ ]:
#print value_counts
for column in flag_columns:
    print(df_train[column].value_counts()) 
#No issues found

In [ ]:
for column in flag_columns:
    df_train[column] = label_encoder.fit_transform(df_train[column])

In [ ]:
#print value_counts
for column in flag_columns:
    print(df_train[column].value_counts())

### Check & Convert all NAME Flag based columns

In [ ]:
name_columns = df_train.loc[:, df_train.columns.str.startswith('NAME_')].columns

In [ ]:
#print value_counts
for column in name_columns:
    print(df_train[column].isna().sum())
    print(df_train[column].value_counts())

In [ ]:
#Who was accompanying client when he was applying for the loan
df_train['NAME_TYPE_SUITE'].value_counts()

In [ ]:
#Replace Other_A & _B
df_train['NAME_TYPE_SUITE'].replace(['Other_A', 'Other_B'], 'Other', inplace = True)

In [ ]:
#Remove XNA OR FILL?
df_train = df_train[df_train['NAME_FAMILY_STATUS'] != 'Unknown']
#Civil Marriage is Marriage
df_train['NAME_FAMILY_STATUS'].replace('Civil marriage', 'Married', inplace = True)

In [ ]:
# One Hot encoding?
oh_columns.add('NAME_TYPE_SUITE')
oh_columns.add('NAME_INCOME_TYPE')
oh_columns.add('NAME_EDUCATION_TYPE')
oh_columns.add('NAME_FAMILY_STATUS')
oh_columns.add('NAME_HOUSING_TYPE')
oh_columns.add('REGION_RATING_CLIENT')
oh_columns.add('REGION_RATING_CLIENT_W_CITY')
oh_columns.add('FONDKAPREMONT_MODE')
oh_columns.add('HOUSETYPE_MODE')
oh_columns.add('WALLSMATERIAL_MODE')

In [ ]:
df_train = pd.get_dummies(df_train, columns = list(oh_columns))

In [ ]:
df_train

### Other Categorical Columns

In [ ]:
df_train['CNT_CHILDREN'].isna().sum()

In [ ]:
#Check for categorical data for other suspected columns
df_train['CNT_CHILDREN'].value_counts() #No conversion needed?

In [ ]:
df_train['CNT_CHILDREN_NORM'] = min_max_scaler.fit_transform(df_train['CNT_CHILDREN'].values.reshape(-1, 1))
df_train.drop(['CNT_CHILDREN'], axis = 1, inplace = True)

In [ ]:
df_train['CNT_CHILDREN_NORM'].value_counts()

In [ ]:
df_train['AMT_INCOME_TOTAL'].isna().sum()

In [ ]:
df_train.boxplot(column=['AMT_INCOME_TOTAL']);

In [ ]:
#Retain 99%
df_train = df_train[df_train['AMT_INCOME_TOTAL'] < df_train.AMT_INCOME_TOTAL.quantile(0.99)]

In [ ]:
df_train.boxplot(column=['AMT_INCOME_TOTAL']);

In [ ]:
df_train['AMT_INCOME_TOTAL_NORM'] = min_max_scaler.fit_transform(df_train['AMT_INCOME_TOTAL'].values.reshape(-1, 1))
df_train.drop(['AMT_INCOME_TOTAL'], axis = 1, inplace = True)

In [ ]:
df_train['AMT_INCOME_TOTAL_NORM']

In [ ]:
df_train['AMT_CREDIT'].isna().sum()

In [ ]:
df_train.boxplot(column=['AMT_CREDIT']);

In [ ]:
#Retain 99%
df_train = df_train[df_train['AMT_CREDIT'] < df_train.AMT_CREDIT.quantile(0.99)]

In [ ]:
df_train.boxplot(column=['AMT_CREDIT']);

In [ ]:
df_train['AMT_CREDIT_NORM'] = min_max_scaler.fit_transform(df_train['AMT_CREDIT'].values.reshape(-1, 1))
df_train.drop(['AMT_CREDIT'], axis = 1, inplace = True)

In [ ]:
df_train['AMT_ANNUITY'].isna().sum()

In [ ]:
df_train['AMT_ANNUITY'] = df_train['AMT_ANNUITY'].fillna(df_train['AMT_ANNUITY'].median())

In [ ]:
df_train.boxplot(column=['AMT_ANNUITY']);

In [ ]:
#Retain 99%
df_train = df_train[df_train['AMT_ANNUITY'] < df_train.AMT_ANNUITY.quantile(0.99)]

In [ ]:
df_train.boxplot(column=['AMT_ANNUITY']);

In [ ]:
df_train['AMT_ANNUITY_NORM'] = min_max_scaler.fit_transform(df_train['AMT_ANNUITY'].values.reshape(-1, 1))
df_train.drop(['AMT_ANNUITY'], axis = 1, inplace = True)

In [ ]:
df_train['AMT_GOODS_PRICE'].isna().sum()

In [ ]:
df_train['AMT_GOODS_PRICE'] = df_train['AMT_GOODS_PRICE'].fillna(df_train['AMT_GOODS_PRICE'].median())

In [ ]:
df_train.boxplot(column=['AMT_GOODS_PRICE']);

In [ ]:
#Retain 99%
df_train = df_train[df_train['AMT_GOODS_PRICE'] < df_train.AMT_GOODS_PRICE.quantile(0.99)]

In [ ]:
df_train.boxplot(column=['AMT_GOODS_PRICE']);

In [ ]:
df_train['AMT_GOODS_PRICE_NORM'] = min_max_scaler.fit_transform(df_train['AMT_GOODS_PRICE'].values.reshape(-1, 1))
df_train.drop(['AMT_GOODS_PRICE'], axis = 1, inplace = True)

In [ ]:
df_train['REGION_POPULATION_RELATIVE'].unique() #Normalized already

In [ ]:
df_train['DAYS_BIRTH'].isna().sum()

In [ ]:
#categorization needed?
df_train['DAYS_BIRTH'].min(),df_train['DAYS_BIRTH'].max()

In [ ]:
df_train['YEARS_BIRTH'] = df_train['DAYS_BIRTH'].abs()/365
df_train.drop(['DAYS_BIRTH'], axis = 1, inplace = True)

In [ ]:
df_train['YEARS_BIRTH'].min(),df_train['YEARS_BIRTH'].max()

In [ ]:
df_train['YEARS_BIRTH_NORM'] = min_max_scaler.fit_transform(df_train['YEARS_BIRTH'].values.reshape(-1, 1))
df_train.drop(['YEARS_BIRTH'], axis = 1, inplace = True)

In [ ]:
df_train['DAYS_EMPLOYED'].isna().sum()

In [ ]:
#negative and postive? and also ZERO IS NOT ZERO??
df_train['DAYS_EMPLOYED'].min(),df_train['DAYS_EMPLOYED'].max()

In [ ]:
df_train.boxplot(column=['DAYS_EMPLOYED'])

In [ ]:
#what are these values
df_train[df_train['DAYS_EMPLOYED'] > 0]['DAYS_EMPLOYED'].value_counts()

In [ ]:
df_train['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)

In [ ]:
df_train['DAYS_EMPLOYED_NORM'] = min_max_scaler.fit_transform(df_train['DAYS_EMPLOYED'].values.reshape(-1, 1))
df_train.drop(['DAYS_EMPLOYED'], axis = 1, inplace = True)

In [ ]:
df_train['DAYS_REGISTRATION'].isna().sum()

In [ ]:
#ZERO IS NOT ZERO!!!?
df_train['DAYS_REGISTRATION'].min(),df_train['DAYS_REGISTRATION'].max()

In [ ]:
df_train['DAYS_REGISTRATION_NORM'] = min_max_scaler.fit_transform(df_train['DAYS_REGISTRATION'].values.reshape(-1, 1))
df_train.drop(['DAYS_REGISTRATION'], axis = 1, inplace = True)

In [ ]:
df_train['DAYS_ID_PUBLISH'].isna().sum()

In [ ]:
#ZERO IS NOT ZERO!!!?
df_train['DAYS_ID_PUBLISH'].min(),df_train['DAYS_ID_PUBLISH'].max()

In [ ]:
df_train['DAYS_ID_PUBLISH_NORM'] = min_max_scaler.fit_transform(df_train['DAYS_ID_PUBLISH'].values.reshape(-1, 1))
df_train.drop(['DAYS_ID_PUBLISH'], axis = 1, inplace = True)

In [ ]:
Normalize_columns = ['AMT_REQ_CREDIT_BUREAU_HOUR',
'AMT_REQ_CREDIT_BUREAU_DAY',
'AMT_REQ_CREDIT_BUREAU_WEEK',
'AMT_REQ_CREDIT_BUREAU_MON',
'AMT_REQ_CREDIT_BUREAU_QRT',
'AMT_REQ_CREDIT_BUREAU_YEAR',
'OBS_30_CNT_SOCIAL_CIRCLE',
'DEF_30_CNT_SOCIAL_CIRCLE',
'OBS_60_CNT_SOCIAL_CIRCLE',
'DEF_60_CNT_SOCIAL_CIRCLE',
'DAYS_LAST_PHONE_CHANGE',
'CNT_FAM_MEMBERS'
]

In [ ]:
for column in Normalize_columns:
    df_train['{}_NORM'.format(column)] = min_max_scaler.fit_transform(df_train[column].values.reshape(-1, 1))
    df_train.drop([column], axis = 1, inplace = True)

In [ ]:
#drop as income is already used
df_train['OCCUPATION_TYPE'].value_counts()
df_train.drop(['OCCUPATION_TYPE'], axis = 1, inplace = True)

In [ ]:
df_train['HOUR_APPR_PROCESS_START'].value_counts()

In [ ]:
#convert to day (6am [6] to 10pm [22]) and night (10pm [22] to 6am [6])
df_train['HOUR_APPR_PROCESS_DAY'] = (df_train['HOUR_APPR_PROCESS_START'] > 6) & (df_train['HOUR_APPR_PROCESS_START'] < 22)
df_train.drop(['HOUR_APPR_PROCESS_START'], axis = 1, inplace = True)

In [ ]:
df_train['HOUR_APPR_PROCESS_DAY'].value_counts()

In [ ]:
df_train['HOUR_APPR_PROCESS_DAY'] = label_encoder.fit_transform(df_train['HOUR_APPR_PROCESS_DAY'])

In [ ]:
df_train['HOUR_APPR_PROCESS_DAY'].value_counts()

In [ ]:
df_train.drop(['WEEKDAY_APPR_PROCESS_START'], axis = 1, inplace = True)

In [ ]:
df_train.drop(['ORGANIZATION_TYPE'], axis = 1, inplace = True)

In [ ]:
df_train['EMERGENCYSTATE_MODE'] = label_encoder.fit_transform(df_train['EMERGENCYSTATE_MODE'])

In [ ]:
df_train

In [ ]:
df_train.dtypes

In [ ]:
df_train.fillna(0, inplace=True)

In [ ]:
df_train.isna().sum().sort_values(ascending=False)

In [ ]:
df_train.isna().sum().sort_values(ascending=False)

In [ ]:
df_train

## AUTOMATED FEATURE SELECTION

In [17]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression

In [18]:
target = y
features = x

In [19]:
select_univariate = SelectKBest(f_regression, k=5).fit(features, target)

In [20]:
feature_mask = select_univariate.get_support()
feature_mask

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
        True,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [21]:
features.columns[feature_mask]

Index(['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'YEARS_BIRTH_NORM',
       'DAYS_EMPLOYED_NORM'],
      dtype='object')

In [22]:
select_univariate.scores_

array([1.51638119e+00, 2.91395917e+02, 9.66297465e+02, 1.37692114e+01,
       3.49865951e+02, 8.98325141e-02, 6.77922736e+02, 2.53919689e+02,
       1.17905215e-02, 1.58769853e+02, 1.76608286e-01, 1.25752129e+01,
       2.43896855e+01, 6.99569604e+00, 5.92440007e+02, 7.76701588e+02,
       3.14578033e+02, 1.20607260e+03, 7.59053953e+03, 4.27795382e+03,
       4.59739383e+02, 4.92676757e+02, 7.49149235e+00, 5.97214295e+02,
       1.97646892e+00, 2.97959055e-03, 2.62494227e+02, 2.91318624e-01,
       1.15778072e+01, 4.52214464e+00, 6.28841563e-01, 6.67234147e+00,
       8.98325141e-02, 3.28656966e+01, 2.58035780e+01, 1.14639434e+01,
       3.52747826e+01, 2.37147822e+00, 1.30533493e+01, 4.92928375e-01,
       7.30840626e-01, 4.21707947e+00, 7.56970765e+01, 4.32785126e+02,
       3.00303991e+02, 4.69327930e+02, 2.89396690e+02, 1.12466616e+02,
       3.34245117e+02, 4.12085373e+02, 6.75618168e+02, 3.05560340e+02,
       1.55245300e+02, 2.27398703e+02, 4.35254261e+02, 6.81346792e+00,
       9.24615507e+01, 3.11503533e+01, 2.58421505e-02, 1.93550388e+02,
       1.25871605e+02, 7.39542461e+00, 8.54401757e+02, 1.92306373e+00,
       3.98894087e+01, 6.50071963e+02, 1.65882707e+00, 3.55112948e+01,
       1.36382992e+02, 3.42763352e+01, 2.69499537e-01, 2.89126310e+01,
       2.49707089e+00, 6.84726568e+02, 1.50381598e+02, 1.52724318e+00,
       2.66725781e+01, 9.57137273e+02, 3.79255898e-02, 2.38780957e+02,
       3.36249593e+00, 7.02376401e+00, 1.15622671e+02, 2.57047267e+02,
       4.54726641e+02, 7.47310170e+00, 1.18339217e-01, 2.35537295e+00,
       2.08351559e+01, 1.54142502e-01, 6.67313302e+00, 2.13789730e-01,
       1.95118837e+01, 4.09605574e+02, 6.48603330e+01, 6.72507752e+02,
       1.15765517e+01, 5.12512721e-01, 2.14643544e+01, 1.04433258e-01,
       3.09055294e+02, 4.76841744e+01, 1.89468227e+01, 4.35423518e+02,
       5.26585707e+01, 7.22621290e+02, 1.15628713e+02, 6.32584242e+01,
       9.70472356e+01, 7.06196826e+00, 2.39933784e+02, 1.87032525e+03,
       1.37824779e+03, 5.52524644e+02, 8.09457679e+02, 1.89434362e-02,
       6.15515329e-01, 5.14175030e-01, 5.99528519e+01, 9.74412475e+00,
       7.34272418e+00, 2.16199249e+01, 2.94827704e+02, 2.10115077e+01,
       2.76898671e+02, 9.28356737e+02, 3.35575689e+01, 8.76183636e+01])

In [23]:
pd.DataFrame({'FeatureName': features.columns, 
              'Score': select_univariate.scores_}).sort_values(by='Score', 
                                                               ascending=False)

                                           FeatureName    Score
18                                        EXT_SOURCE_2 7,590.54
19                                        EXT_SOURCE_3 4,277.95
111                                   YEARS_BIRTH_NORM 1,870.33
112                                 DAYS_EMPLOYED_NORM 1,378.25
17                                        EXT_SOURCE_1 1,206.07
2                                          CODE_GENDER   966.30
77                            NAME_INCOME_TYPE_Working   957.14
125                        DAYS_LAST_PHONE_CHANGE_NORM   928.36
62                NAME_EDUCATION_TYPE_Higher education   854.40
114                               DAYS_ID_PUBLISH_NORM   809.46
15                              REG_CITY_NOT_WORK_CITY   776.70
105                      REGION_RATING_CLIENT_W_CITY_3   722.62
73                          NAME_INCOME_TYPE_Pensioner   684.73
6                                       FLAG_EMP_PHONE   677.92
50                                      FLOORSMAX_NORM   675.62
95                              REGION_RATING_CLIENT_3   672.51
65   NAME_EDUCATION_TYPE_Secondary / secondary special   650.07
23                                     FLAG_DOCUMENT_3   597.21
14                              REG_CITY_NOT_LIVE_CITY   592.44
113                             DAYS_REGISTRATION_NORM   552.52
21                                 EMERGENCYSTATE_MODE   492.68
45                        YEARS_BEGINEXPLUATATION_NORM   469.33
20                                      TOTALAREA_MODE   459.74
84                       HOUSETYPE_MODE_block of flats   454.73
103                      REGION_RATING_CLIENT_W_CITY_1   435.42
54                                     LIVINGAREA_NORM   435.25
43                                     APARTMENTS_NORM   432.79
49                                      ENTRANCES_NORM   412.09
93                              REGION_RATING_CLIENT_1   409.61
4                           REGION_POPULATION_RELATIVE   349.87
48                                      ELEVATORS_NORM   334.25
16                             LIVE_CITY_NOT_WORK_CITY   314.58
100                           WALLSMATERIAL_MODE_Panel   309.06
51                                      FLOORSMIN_NORM   305.56
44                                   BASEMENTAREA_NORM   300.30
122                      DEF_30_CNT_SOCIAL_CIRCLE_NORM   294.83
1                                   NAME_CONTRACT_TYPE   291.40
46                                    YEARS_BUILD_NORM   289.40
124                      DEF_60_CNT_SOCIAL_CIRCLE_NORM   276.90
26                                     FLAG_DOCUMENT_6   262.49
83                      NAME_HOUSING_TYPE_With parents   257.05
7                                      FLAG_WORK_PHONE   253.92
110                               AMT_GOODS_PRICE_NORM   239.93
79                 NAME_HOUSING_TYPE_House / apartment   238.78
53                               LIVINGAPARTMENTS_NORM   227.40
59             NAME_FAMILY_STATUS_Single / not married   193.55
9                                           FLAG_PHONE   158.77
52                                       LANDAREA_NORM   155.25
74                      NAME_INCOME_TYPE_State servant   150.38
68                 FONDKAPREMONT_MODE_reg oper account   136.38
60                            NAME_FAMILY_STATUS_Widow   125.87
106                                  CNT_CHILDREN_NORM   115.63
82                  NAME_HOUSING_TYPE_Rented apartment   115.62
47                                     COMMONAREA_NORM   112.47
108                                    AMT_CREDIT_NORM    97.05
56                                  NONLIVINGAREA_NORM    92.46
127                              HOUR_APPR_PROCESS_DAY    87.62
42                                          CAR_STATUS    75.70
94                              REGION_RATING_CLIENT_2    64.86
107                              AMT_INCOME_TOTAL_NORM    63.26
118                     AMT_REQ_CREDIT_BUREAU_MON_NORM    59.95
104                      REGION_RATING_CLIENT_W_CITY_2    52.66
101                    WALLSMATERIAL_MODE_Stone, brick    47.68
64                 NAME_EDUCATION_TYPE_Lower secondary    39.89
67                 FONDKAPREMONT_MODE_org spec account    35.51
36                                    FLAG_DOCUMENT_16    35.27
69            FONDKAPREMONT_MODE_reg oper spec account    34.28
126                               CNT_FAM_MEMBERS_NORM    33.56
33                                    FLAG_DOCUMENT_13    32.87
57                          NAME_FAMILY_STATUS_Married    31.15
71               NAME_INCOME_TYPE_Commercial associate    28.91
76                         NAME_INCOME_TYPE_Unemployed    26.67
34                                    FLAG_DOCUMENT_14    25.80
12                          REG_REGION_NOT_WORK_REGION    24.39
121                      OBS_30_CNT_SOCIAL_CIRCLE_NORM    21.62
98                       WALLSMATERIAL_MODE_Monolithic    21.46
123                      OBS_60_CNT_SOCIAL_CIRCLE_NORM    21.01
88                              NAME_TYPE_SUITE_Family    20.84
92                       NAME_TYPE_SUITE_Unaccompanied    19.51
102                          WALLSMATERIAL_MODE_Wooden    18.95
3                                      FLAG_OWN_REALTY    13.77
38                                    FLAG_DOCUMENT_18    13.05
11                          REG_REGION_NOT_LIVE_REGION    12.58
28                                     FLAG_DOCUMENT_8    11.58
96                            WALLSMATERIAL_MODE_Block    11.58
35                                    FLAG_DOCUMENT_15    11.46
119                     AMT_REQ_CREDIT_BUREAU_QRT_NORM     9.74
22                                     FLAG_DOCUMENT_2     7.49
85                     HOUSETYPE_MODE_specific housing     7.47
61                 NAME_EDUCATION_TYPE_Academic degree     7.40
120                    AMT_REQ_CREDIT_BUREAU_YEAR_NORM     7.34
109                                   AMT_ANNUITY_NORM     7.06
81                  NAME_HOUSING_TYPE_Office apartment     7.02
13                         LIVE_REGION_NOT_WORK_REGION     7.00
55                            NONLIVINGAPARTMENTS_NORM     6.81
90                               NAME_TYPE_SUITE_Other     6.67
31                                    FLAG_DOCUMENT_11     6.67
29                                     FLAG_DOCUMENT_9     4.52
41                                    FLAG_DOCUMENT_21     4.22
80               NAME_HOUSING_TYPE_Municipal apartment     3.36
72                    NAME_INCOME_TYPE_Maternity leave     2.50
37                                    FLAG_DOCUMENT_17     2.37
87                            NAME_TYPE_SUITE_Children     2.36
24                                     FLAG_DOCUMENT_4     1.98
63               NAME_EDUCATION_TYPE_Incomplete higher     1.92
66                    FONDKAPREMONT_MODE_not specified     1.66
75                            NAME_INCOME_TYPE_Student     1.53
0                                           SK_ID_CURR     1.52
40                                    FLAG_DOCUMENT_20     0.73
30                                    FLAG_DOCUMENT_10     0.63
116                     AMT_REQ_CREDIT_BUREAU_DAY_NORM     0.62
117                    AMT_REQ_CREDIT_BUREAU_WEEK_NORM     0.51
97                            WALLSMATERIAL_MODE_Mixed     0.51
39                                    FLAG_DOCUMENT_19     0.49
27                                     FLAG_DOCUMENT_7     0.29
70                        NAME_INCOME_TYPE_Businessman     0.27
91                     NAME_TYPE_SUITE_Spouse, partner     0.21
10                                          FLAG_EMAIL     0.18
89                     NAME_TYPE_SUITE_Group of people     0.15
86                       HOUSETYPE_MODE_terraced house     0.12
99                           WALLSMATERIAL_MODE_Others     0.10
32                                    FLAG_DOCUMENT_12     0.09
5                                           FLAG_MOBIL     0.09
78                   NAME_HOUSING_TYPE_Co-op apartment     0.04
58                        NAME_FAMILY_STATUS_Separated     0.03
115                    AMT_REQ_CREDIT_BUREAU_HOUR_NORM     0.02
8                                     FLAG_CONT_MOBILE     0.01
25                                     FLAG_DOCUMENT_5     0.00

In [24]:
uni_df = pd.DataFrame({'Univariate Method': features.columns[feature_mask]})
uni_df

    Univariate Method
0        EXT_SOURCE_1
1        EXT_SOURCE_2
2        EXT_SOURCE_3
3    YEARS_BIRTH_NORM
4  DAYS_EMPLOYED_NORM

In [25]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE

linear_regression = LinearRegression()

In [26]:
rfe = RFE(estimator = linear_regression, 
          n_features_to_select = 5, 
          step = 1)

In [27]:
rfe.fit(features,target)

RFE(estimator=LinearRegression(), n_features_to_select=5)

In [28]:
rfe_features = features.columns[rfe.support_]
rfe_features

Index(['NAME_FAMILY_STATUS_Married', 'NAME_FAMILY_STATUS_Separated',
       'NAME_FAMILY_STATUS_Widow', 'CNT_CHILDREN_NORM',
       'CNT_FAM_MEMBERS_NORM'],
      dtype='object')

In [29]:
pd.DataFrame({'FeatureName': features.columns, 
              'Rank': rfe.ranking_}).sort_values(by='Rank')

                                           FeatureName  Rank
57                          NAME_FAMILY_STATUS_Married     1
60                            NAME_FAMILY_STATUS_Widow     1
126                               CNT_FAM_MEMBERS_NORM     1
58                        NAME_FAMILY_STATUS_Separated     1
106                                  CNT_CHILDREN_NORM     1
59             NAME_FAMILY_STATUS_Single / not married     2
105                      REGION_RATING_CLIENT_W_CITY_3     3
104                      REGION_RATING_CLIENT_W_CITY_2     4
103                      REGION_RATING_CLIENT_W_CITY_1     5
95                              REGION_RATING_CLIENT_3     6
93                              REGION_RATING_CLIENT_1     7
94                              REGION_RATING_CLIENT_2     8
70                        NAME_INCOME_TYPE_Businessman     9
75                            NAME_INCOME_TYPE_Student    10
73                          NAME_INCOME_TYPE_Pensioner    11
74                      NAME_INCOME_TYPE_State servant    12
71               NAME_INCOME_TYPE_Commercial associate    13
77                            NAME_INCOME_TYPE_Working    14
72                    NAME_INCOME_TYPE_Maternity leave    15
76                         NAME_INCOME_TYPE_Unemployed    16
64                 NAME_EDUCATION_TYPE_Lower secondary    17
65   NAME_EDUCATION_TYPE_Secondary / secondary special    18
63               NAME_EDUCATION_TYPE_Incomplete higher    19
62                NAME_EDUCATION_TYPE_Higher education    20
61                 NAME_EDUCATION_TYPE_Academic degree    21
82                  NAME_HOUSING_TYPE_Rented apartment    22
83                      NAME_HOUSING_TYPE_With parents    23
80               NAME_HOUSING_TYPE_Municipal apartment    24
78                   NAME_HOUSING_TYPE_Co-op apartment    25
79                 NAME_HOUSING_TYPE_House / apartment    26
81                  NAME_HOUSING_TYPE_Office apartment    27
121                      OBS_30_CNT_SOCIAL_CIRCLE_NORM    28
123                      OBS_60_CNT_SOCIAL_CIRCLE_NORM    29
122                      DEF_30_CNT_SOCIAL_CIRCLE_NORM    30
119                     AMT_REQ_CREDIT_BUREAU_QRT_NORM    31
108                                    AMT_CREDIT_NORM    32
110                               AMT_GOODS_PRICE_NORM    33
22                                     FLAG_DOCUMENT_2    34
18                                        EXT_SOURCE_2    35
5                                           FLAG_MOBIL    36
124                      DEF_60_CNT_SOCIAL_CIRCLE_NORM    37
112                                 DAYS_EMPLOYED_NORM    38
19                                        EXT_SOURCE_3    39
30                                    FLAG_DOCUMENT_10    40
120                    AMT_REQ_CREDIT_BUREAU_YEAR_NORM    41
109                                   AMT_ANNUITY_NORM    42
6                                       FLAG_EMP_PHONE    43
116                     AMT_REQ_CREDIT_BUREAU_DAY_NORM    44
24                                     FLAG_DOCUMENT_4    45
4                           REGION_POPULATION_RELATIVE    46
35                                    FLAG_DOCUMENT_15    47
17                                        EXT_SOURCE_1    48
34                                    FLAG_DOCUMENT_14    49
37                                    FLAG_DOCUMENT_17    50
111                                   YEARS_BIRTH_NORM    51
33                                    FLAG_DOCUMENT_13    52
118                     AMT_REQ_CREDIT_BUREAU_MON_NORM    53
50                                      FLOORSMAX_NORM    54
31                                    FLAG_DOCUMENT_11    55
40                                    FLAG_DOCUMENT_20    56
36                                    FLAG_DOCUMENT_16    57
113                             DAYS_REGISTRATION_NORM    58
38                                    FLAG_DOCUMENT_18    59
8                                     FLAG_CONT_MOBILE    60
32                                    FLAG_DOCUMENT_12    61
114                               DAYS_ID_PUBLISH_NORM    62
2                                          CODE_GENDER    63
39                                    FLAG_DOCUMENT_19    64
125                        DAYS_LAST_PHONE_CHANGE_NORM    65
14                              REG_CITY_NOT_LIVE_CITY    66
23                                     FLAG_DOCUMENT_3    67
25                                     FLAG_DOCUMENT_5    68
26                                     FLAG_DOCUMENT_6    69
41                                    FLAG_DOCUMENT_21    70
85                     HOUSETYPE_MODE_specific housing    71
7                                      FLAG_WORK_PHONE    72
55                            NONLIVINGAPARTMENTS_NORM    73
11                          REG_REGION_NOT_LIVE_REGION    74
29                                     FLAG_DOCUMENT_9    75
1                                   NAME_CONTRACT_TYPE    76
28                                     FLAG_DOCUMENT_8    77
49                                      ENTRANCES_NORM    78
47                                     COMMONAREA_NORM    79
107                              AMT_INCOME_TOTAL_NORM    80
54                                     LIVINGAREA_NORM    81
99                           WALLSMATERIAL_MODE_Others    82
27                                     FLAG_DOCUMENT_7    83
44                                   BASEMENTAREA_NORM    84
115                    AMT_REQ_CREDIT_BUREAU_HOUR_NORM    85
52                                       LANDAREA_NORM    86
97                            WALLSMATERIAL_MODE_Mixed    87
101                    WALLSMATERIAL_MODE_Stone, brick    88
13                         LIVE_REGION_NOT_WORK_REGION    89
12                          REG_REGION_NOT_WORK_REGION    90
20                                      TOTALAREA_MODE    91
53                               LIVINGAPARTMENTS_NORM    92
46                                    YEARS_BUILD_NORM    93
66                    FONDKAPREMONT_MODE_not specified    94
68                 FONDKAPREMONT_MODE_reg oper account    95
92                       NAME_TYPE_SUITE_Unaccompanied    96
87                            NAME_TYPE_SUITE_Children    97
90                               NAME_TYPE_SUITE_Other    98
56                                  NONLIVINGAREA_NORM    99
89                     NAME_TYPE_SUITE_Group of people   100
102                          WALLSMATERIAL_MODE_Wooden   101
88                              NAME_TYPE_SUITE_Family   102
84                       HOUSETYPE_MODE_block of flats   103
21                                 EMERGENCYSTATE_MODE   104
117                    AMT_REQ_CREDIT_BUREAU_WEEK_NORM   105
9                                           FLAG_PHONE   106
96                            WALLSMATERIAL_MODE_Block   107
100                           WALLSMATERIAL_MODE_Panel   108
45                        YEARS_BEGINEXPLUATATION_NORM   109
86                       HOUSETYPE_MODE_terraced house   110
51                                      FLOORSMIN_NORM   111
91                     NAME_TYPE_SUITE_Spouse, partner   112
127                              HOUR_APPR_PROCESS_DAY   113
69            FONDKAPREMONT_MODE_reg oper spec account   114
42                                          CAR_STATUS   115
48                                      ELEVATORS_NORM   116
43                                     APARTMENTS_NORM   117
67                 FONDKAPREMONT_MODE_org spec account   118
15                              REG_CITY_NOT_WORK_CITY   119
10                                          FLAG_EMAIL   120
98                       WALLSMATERIAL_MODE_Monolithic   121
16                             LIVE_CITY_NOT_WORK_CITY   122
3                                      FLAG_OWN_REALTY   123
0                                           SK_ID_CURR   124

In [30]:
rfe_df = pd.DataFrame({'RFE Method': rfe_features})

rfe_df

                     RFE Method
0    NAME_FAMILY_STATUS_Married
1  NAME_FAMILY_STATUS_Separated
2      NAME_FAMILY_STATUS_Widow
3             CNT_CHILDREN_NORM
4          CNT_FAM_MEMBERS_NORM

In [ ]:
from mlxtend.feature_selection import SequentialFeatureSelector

In [ ]:
feature_selector = SequentialFeatureSelector(LinearRegression(),  
                                             k_features=5,
                                             forward=False,
                                             scoring='neg_mean_squared_error',
                                             cv=4)

In [ ]:
feature_filtered = feature_selector.fit(features, target)

In [ ]:
backward_features = list(feature_filtered.k_feature_names_)
backward_features

In [ ]:
back_df = pd.DataFrame({'Backward Method': backward_features})
back_df

In [ ]:
feature_selector = SequentialFeatureSelector(LinearRegression(),  
                                             k_features=5,
                                             forward=True,
                                             scoring='neg_mean_squared_error',
                                             cv=4)

In [ ]:
feature_filtered = feature_selector.fit(features, target)

In [ ]:
forward_features = list(feature_filtered.k_feature_names_)
forward_features

In [ ]:
forw_df = pd.DataFrame({'Forward Method': forward_features})
forw_df

In [ ]:
from sklearn.linear_model import  Lasso

In [ ]:
lasso = Lasso(alpha=1.0)
lasso.fit(features, target)

In [ ]:
lasso_coef = pd.DataFrame({'Feature': features.columns, 
                           'LassoCoef': lasso.coef_}).sort_values(by = 'LassoCoef',
                                                                  ascending =False)
lasso_coef

In [ ]:
lasso_coef['LassoCoef'] = abs(lasso_coef['LassoCoef'])
lasso_coef.sort_values(by='LassoCoef', ascending=False)

In [ ]:
lasso_df = lasso_coef.sort_values(by='LassoCoef', ascending=False).head(5)
lasso_df = pd.DataFrame({'Lasso Method': lasso_df['Feature'].values})
lasso_df

In [ ]:
comp_selected_col_df = [uni_df, 
                        rfe_df, 
                        back_df, 
                        forw_df, 
                        lasso_df]

final_df = pd.concat(comp_selected_col_df, axis=1)

In [ ]:
final_df

In [ ]:
uni_columns = final_df["Univariate Method"].values.tolist()
df_uni_transformed = df_transformed_train[uni_columns]

In [ ]:
rfe_columns = final_df["RFE Method"].values.tolist()
df_rfe_transformed = df_transformed_train[rfe_columns]

In [ ]:
bw_columns = final_df["Backward Method"].values.tolist()
df_bw_transformed = df_transformed_train[bw_columns]

In [ ]:
fw_columns = final_df["Forward Method"].values.tolist()
df_fw_transformed = df_transformed_train[fw_columns]

In [ ]:
ls_columns = final_df["Lasso Method"].values.tolist()
df_ls_transformed = df_transformed_train[ls_columns]

In [15]:
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix

In [16]:
y = df_transformed_train['TARGET']
x = df_transformed_train.drop(['TARGET'],axis=1)

In [ ]:
x.shape,y.shape

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,  test_size=0.2, random_state=123)

In [ ]:
print ("x_train :" , x_train.shape )
print ("x_test :", x_test.shape)
print ("y_train :", y_train.shape)
print ("y_test :", y_test.shape)

In [ ]:
algorithms = [
    ('LR',LogisticRegression(max_iter=500)),
    ('RFC',RandomForestClassifier()),
    ('LSCV',LinearSVC(max_iter=500)),
    ('GBC',GradientBoostingClassifier()),
    ('KNC',KNeighborsClassifier(n_neighbors=5)),
    ('SGD',SGDClassifier()),
    ('DTC',DecisionTreeClassifier())
]

In [ ]:
cm_labels = np.unique(y)

In [ ]:
for name,algo in algorithms:
    print ()
    print ("============== Running {} ======".format(algo))
    t1 = time.perf_counter()
    model = algo.fit (x_train, np.ravel(y_train))
    t2 = time.perf_counter()
    y_pred = model.predict(x_test)
    t3 = time.perf_counter()
    
    cm_array = confusion_matrix(y_test, y_pred)
    cm_df = pd.DataFrame(cm_array, index=cm_labels, columns=cm_labels)
    
    print ("Training time : {:,.1f} secs ({:,.1f} ms)".format ( (t2-t1), (t2-t1)*1e3))
    print ("Prediction time : {:,.1f} secs ({:,.1f} ms)".format ( (t3-t2), (t3-t2)*1e3))
    print ("Training score : ", model.score(x_train, y_train))
    print ("Testing score : ", model.score(x_test, y_test))
    print ("Confusion matrix : ")
    print (cm_df)

In [ ]:
import tensorflow as tf
from tensorflow import keras

In [ ]:
!pip install tensorflow -i https://artifacts-read.gkp.jpmchase.net/artifactory/api/pypi/pypi/simple

In [ ]:
input_columns = x_train.columns

In [ ]:
input_columns

In [ ]:
input_dim = len(input_columns)
output_clases = 3 
print ("input_dim : ", input_dim, ", output classes : ", output_clases)

## TODO : construct the network
##     - number of neurons for 'intput_layer' = input_dim
##     - number of neurons for 'hidden_1' layer = 8  (start with 8 for now)
##     - number of neurons for 'output_layer' = output_classes

## TODO : set activation functions as follows 
##     - activation function for both 'ainput_layer' and 'hidden_1' = tf.nn.relu
##     - activation function for final 'output_layer' = tf.nn.softmax
model = tf.keras.Sequential([
            tf.keras.layers.Dense(units=32, activation='relu', input_dim=input_dim),
            tf.keras.layers.Dense(units=16, activation='relu'),
            tf.keras.layers.Dense(units=output_clases,  activation='softmax')
            ])

# loss = 'sparse_categorical_crossentropy'  or 'categorical_crossentropy'
model.compile(loss='sparse_categorical_crossentropy', 
                 optimizer=tf.keras.optimizers.Adam(), # or 'adam', 
                 metrics=['accuracy'])

print (model.summary())
tf.keras.utils.plot_model(model, to_file='model.png', show_shapes=True)

In [ ]:
import datetime
import os
import shutil

app_name = 'classification-iris'

# timestamp  = datetime.datetime.now().strftime("%Y-%m-%d--%H-%M-%S")

tb_top_level_dir= 'tmp/tensorboard-logs'

tb_app_dir = os.path.join (tb_top_level_dir, app_name)

tb_logs_dir = os.path.join (tb_app_dir, datetime.datetime.now().strftime("%H-%M-%S"))


print ("Saving TB logs to : " , tb_logs_dir)

#clear out old logs
shutil.rmtree ( tb_app_dir, ignore_errors=True )

tensorboard_callback = tf.keras.callbacks.TensorBoard(log_dir=tb_logs_dir, write_graph=True, 
                                                      write_images=True, histogram_freq=1)

## This will embed Tensorboard right here in jupyter!
%load_ext tensorboard
%tensorboard --logdir $tb_logs_dir

In [ ]:
%%time

## TODO start with 100 epochs
epochs = 10

print ("training starting ...")
history = model.fit(
              x_train, y_train,
              epochs=epochs, validation_split = 0.2, verbose=1,
              callbacks=[tensorboard_callback])

print ("training done.")

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

plt.plot(history.history['accuracy'], label='train_accuracy')
plt.plot(history.history['val_accuracy'], label='val_accuracy')
plt.legend()
plt.show()

In [ ]:
np.set_printoptions(formatter={'float': '{: 0.3f}'.format})

predictions = model.predict(x_test)
predictions

In [ ]:
## Use 'predict_classes' instead of 'predict'
y_pred = np.argmax(predictions, axis=-1)
print ('prediction classes: ', y_pred)

In [ ]:
metric_names = model.metrics_names
print ("model metrics : " , metric_names)

metrics = model.evaluate(x_test, y_test, verbose=0)

for idx, metric in enumerate(metric_names):
    print ("Metric : {} = {:,.2f}".format (metric_names[idx], metrics[idx]))

In [ ]:
from sklearn.metrics import confusion_matrix
import seaborn as sns

cm = confusion_matrix(y_test, y_pred, labels = [0,1,2])
cm

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize = (8,5))

# colormaps : cmap="YlGnBu" , cmap="Greens", cmap="Blues",  cmap="Reds"
sns.heatmap(cm, annot=True, cmap="Reds", fmt='d').plot()

In [ ]:
from sklearn.metrics import classification_report
from pprint import pprint

pprint(classification_report(y_test, y_pred, output_dict=True))